$color-primary: #B000FF;
$color-secondary: #5F819E;
$color-dark: #000000;
$color-light: #FFFFFF;

.jumbotron-fluid {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-secondary);
    color: $color-light;
}

.navbar {
    background-color: $color-primary;
}

.btn-primary {
    background-color: $color-primary;
    border: $color-primary;
}

.btn-primary:hover {
    background-color: $color-secondary;
}

.card-header {
    background-color: $color-secondary;
}

.accordion {
    .card-header {
        button {
            color: $color-dark;
        }
    }
}

textarea {
    resize: none;
}

.table-row {
    min-height: 300px;
}

.site-footer {
    background-image: linear-gradient($color-light, $color-primary);

    a {
        color: $color-dark;
    }
}