.jumbotron {
    margin: 0;
}

.site-footer {
    background-color: gray;
}

.adopt-search-container {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
}

.adopt-search-item {
    border-radius: 25px;
    border: 2px solid black;
}

body {
    background-color: green;
}