.jumbotron-fluid {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5F819E, #B000FF, #5F819E);
  color: #FFFFFF; }

.navbar {
  background-color: #B000FF; }

.btn-primary {
  background-color: #B000FF;
  border: #B000FF; }

.btn-primary:hover {
  background-color: #5F819E; }

.site-footer {
  background-image: linear-gradient(#FFFFFF, #B000FF); }

.site-footer a {
  color: #000000; }

textarea {
  resize: none; }
